<!DOCTYPE html>
<html>
<head>
    <title><%= value %></title>
    <link rel="stylesheet" href="<%= link %>">
    <script src="/js/jquery.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/public.js"></script>
</head>
<body>
<header>
    <a href="/quit">退出登录</a>
</header>