<!DOCTYPE html>
<html>
<head>
    <title><%= value %></title>
    <link rel="stylesheet" href="<%= link %>">
    <script src="/js/jquery.js"></script>
    <script src="/js/public.js"></script>
</head>
<body>
<header>
    <h5 style="height:50px;"><a style="float:right; line-height: 50px;margin-right: 50px;" href="/quit">退出登录</a></h5>
</header>