<%- include('./header.ejs', {value,link}) %>
    <div class="container">
		<ul class="container-ul">
            <li>
                <h4>标题</h4>
                <p>存放内容 <i>作者:andy</i></p>
                <span>
                    <button>删除</button><button>喜欢</button><button>讨厌</button>
                </span>
            </li>
        </ul>
        <div>
            <textarea name="" id="" class="container-ul-textarea"></textarea>
            <button>提交</button>
        </div>
    </div>
<%- include('./footer.ejs') %>

<script>
    
</script>