<%- include('./header.ejs', {value,link}) %>
    <div class="container">
		首页
    </div>
<%- include('./footer.ejs') %>

<script>
    
    // console.log("sessionStorage",sessionStorage.getItem("token"))
    // $.ajax({
    //             url: '/iflogin',
    //             type: "post",
    //             data: {'token':sessionStorage.getItem("token")},
    //             datatype: 'json',
    //             success(res){
    //                 console.log(res)
    //             },
    //             err(err){
    //                 console.log(err)
    //             }
    //         })
</script>