<%- include('./header.ejs', {value,link}) %>
    <div class="container">
		<ul class="container-ul">
            <li>
                <h4>标题</h4>
                <p>存放内容 <i>作者:andy</i></p>
                <span class="container-ul-sign">
                    <button>喜欢</button><button>讨厌</button><button>删除</button>
                </span>
            </li>
        </ul>
        <div>
            <input type="text" placeholder="输入标题" id="container-ul-title">
            <input type="text" placeholder="作者" id="container-ul-author">
            <textarea name="" id="" placeholder="输入简介" class="container-ul-textarea"></textarea>
            <button class="container-ul-button">提交</button>
        </div>
    </div>
<%- include('./footer.ejs') %>

<script>
    $(function(){
        $(".container-ul-button").on("click",function(){
            let title = $("#container-ul-title").val(), value = $(".container-ul-textarea").val(), author = $("#container-ul-author").val(); 
            let sign = "一般";
            if(author==""){
                author = "匿名"
            }
            save({title,value,sign,author});
        })
        
        $(document).on("click",".container-ul-sign button",function(){
            $(this).addClass("active_btn").siblings("button").removeClass("active_btn");
            let signId = $(this).parent(".container-ul-sign").siblings("input").val();
            let signHtml = $(this).html();
            if($(this).html()=="删除"){
                $(this).parents("li").css("display","none");
                deleteArticleById(signId)
            }else{
                $.ajax({
                    url: "/changeSign",
                    type: "post",
                    dataType: "json",
                    data: {signId,sign:signHtml},
                    success(res){
                        console.log(res)
                    },
                    error(err){
                        console.log(err)
                    }
                })
            }
            
        })

        function save(resData){
            $.ajax({
                url: "/publish",
                type: "post",
                dataType: "json",
                data: resData,
                success(res){
                    console.log(res)
                    if(res.sign==1){
                        getAllData()
                    }
                },
                error(err){
                    console.log(err)
                }
            })
        }
        getAllData();
        function getAllData(){
            $.ajax({
                url: "/getAllData",
                type: "post",
                dataType: "json",
                data: {},
                success(res){
                    console.log(res)
                    let list = [];
                    if(res.sign==1){
                       list = res.data;
                    }
                    let str = "";
                    for(let i=0; i<list.length; i++){
                        if(list[i].sign=="讨厌"){
                            str+= `<li><h4>${list[i].title}</h4><p>${list[i].value} <i>作者:${list[i].author}</i></p> <input type="hidden" value="${list[i].id}" /> <span class="container-ul-sign"><button>喜欢</button><button class="active_btn">讨厌</button><button>删除</button></span></li>`
                        }else if(list[i].sign=="喜欢"){
                            str+= `<li><h4>${list[i].title}</h4><p>${list[i].value} <i>作者:${list[i].author}</i></p> <input type="hidden" value="${list[i].id}" /> <span class="container-ul-sign"><button class="active_btn">喜欢</button><button>讨厌</button><button>删除</button></span></li>`
                        }else{
                            str+= `<li><h4>${list[i].title}</h4><p>${list[i].value} <i>作者:${list[i].author}</i></p> <input type="hidden" value="${list[i].id}" /> <span class="container-ul-sign"><button>喜欢</button><button>讨厌</button><button>删除</button></span></li>`
                        }
                        
                    }
                    $(".container-ul").html(str);
                },
                error(err){
                    console.log(err)
                }
            })
        }

        function deleteArticleById(id){
            $.ajax({
                url: "/deleteArticleById",
                type: "post",
                dataType: "json",
                data: {id},
                success(res){
                    console.log(res)
                },
                error(err){
                    console.log(err)
                }
            })
        }
    })
</script>