<%- include('./header.ejs', {value,link}) %>
    <div class="container">
		<form class="form create" method="post ">
			<div>
				<label>用户名：</label> 
				<input placeholder="用户名" type="text" name="name">
			</div>
			<div>
				<label>密码：</label> 
				<input placeholder="密码" type="password" name="password">
			</div>
			<div class="submit">登录</div>
            <div class="register">注册</div>
		</form>		
    </div>
<%- include('./footer.ejs') %>

<script>
    $(".submit").on("click",function(){
        if($("input[type=text]").val()=="" || $("input[type=password]").val()==""){
            alert("用户名或密码为空")
        }else{
            console.log("submit")
            $.ajax({
                url: "/loginPost",
                type: "post",
                data: $(".form").serialize(),
                dataType: 'json',
                success:function(result){
                    console.log(result)
                    if(result.code==1){
                        console.log("登录成功")
                        sessionStorage.setItem('token',result.token)
                        window.location.href = "/home"
                    }else if(result.code==2){
                        alert(result.msg)
                    }else if(result.code==3){
                        alert(result.msg)
                    } else{
                        alert("登录失败")
                    }
                },
                error:function(err){
                    console.log(err)
                }
            })
        }
    })
    
    $(".register").on("click",function(){
        window.location.href = "/register"
    })
</script>
